<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/cards.css" />
    <link rel="stylesheet" href="/styles/add-client.css">
    <script src="/js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/">Dashboard</a>
            <a href="/incidences">Incidencias</a>
            <a class="active" href="/clients">Clientes</a>
            <div class="logout">
                <form action="/auth/logout" method="POST">
                <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </header>
    <content>
        <div class="login-box">
        <h2>Modificar cliente</h2>
            <form data-function="edit-form">
                <div class="user-box">
                    <input type="text" name="companyName" required="" value="{{client.companyName}}">
                    <label>Nombre de la empresa</label>
                </div>
                <div class="user-box">
                    <input type="text" name="name" required="" value="{{client.name}}">
                    <label>Nombre del contacto</label>
                </div>
                <div class="user-box">
                    <input type="text" name="lastName" required="" value="{{client.lastName}}">
                    <label>Apellidos del contacto</label>
                </div>
                <div class="user-box">
                    <input type="email" name="email" required="" value="{{client.email}}">
                    <label>Email de contacto</label>
                </div>
                <div class="user-box">
                    <input type="text" name="phone" required="" value="{{client.phone}}">
                    <label>Teléfono del contacto</label>
                </div>
                <div class="user-box">
                    <input type="text" name="address" required="" value="{{client.address}}">
                    <label>Dirección del contacto</label>
                </div>
                <div class="user-box">
                    <input type="text" name="cif" required="" value="{{client.cif}}">
                    <label>CIF de la empresa</label>
                </div>
                <div class="user-box">
                    {{!-- <input type="text" name="logoCompany" required="" value="{{client.logoCompany}}">
                    <label>URL logo de la empresa</label> --}}
                    <input name="logoCompany" onchange="changeImage(event, this)" type="file" required value="{{client.logoCompany}}">
                </div>
                {{!-- <a type="submit" onclick="updateClient('{{client._id}}')">
                    Guardar
                </a> --}}
                <button type="submit" onclick="updateClient('{{client._id}}')">Guardar</button>
            </form>
        </div>
    </content>

</body>
</html>